numpy
omegaconf
msgspec
rouge-score
sacrebleu
sentencepiece
tiktoken
fsspec
blobfile
wandb
viztracer
lm-eval
scipy
pynvml
datatrove
orjson
luigi
pydantic
altair
submitit
typer
rich
fickling>=0.1.3,~=0.1.0
